:root {
    --bg-anim-main-color: rgba(35, 157, 218, 0.6);
    --bg-anim-alt-color: rgba(35, 157, 218, 0.1);
    --main-color: #000;
    --text-color: #888;
    --link-color: #444;
    font-size: 16px;
}

/* ==================== System Dark Mode ==================== */

img.logo-light {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #FFF;
        --text-color: #888;
        --link-color: #CCC;
    }

    .field {
        background: #111;
        transition: all 0.5s ease;
    }

    img.logo-dark {
        display: none;
    }

    img.logo-light {
        display: block;
    }
}

/* ==================== Styles of HTML Elements ==================== */

html {
    color: var(--text-color);
    font-family: 'PingFang SC', "Open Sans", 'Microsoft YaHei', sans-serif;
}

body {
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--link-color);
    outline: none;
}

img.logo {
    height: 10rem;
    width: 10rem;
    margin: 2rem;
}

.wrapper {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.content {
    text-align: center;
    color: var(--main-color);
}

.content h5 {
    color: var(--text-color);
}

.content h2 {
    margin: 0 1em;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 2rem;
    font-size: 95%;
}

/* ==================== Adapt to Reactive Layout ==================== */

@media screen and (max-width: 980px) {
    :root {
        font-size: 16px;
    }

    .field {
        background-color: azure;
        transition: all 0.5s ease;
    }
}

/* ==================== Background CSS Animation ==================== */
.field {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.item1 {
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--bg-anim-main-color);
    position: absolute;
    top: 105vh;
}

.item2 {
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--bg-anim-main-color);
    position: absolute;
    top: 105vh;
}

.item3 {
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--bg-anim-main-color);
    position: absolute;
    top: 105vh;
}

/*animation Setting*/
@keyframes shake {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(10px);
    }
    50% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(10px);
    }
}

/*animation Play*/
.shake {
    animation: shake 2s ease 0s infinite normal;
    -webkit-animation: shake 2s ease 0s infinite normal;
}

/*animation Setting*/
@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-100vh);
        opacity: 0;
    }
}

.field div:nth-child(1) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
    -webkit-animation-duration: 6.5s;
    animation-duration: 6.5s;
    left: calc(50% + 27 * 1vw);
}

.field div:nth-child(2) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 6.1s;
    animation-duration: 6.1s;
    left: calc(50% + -30 * 1vw);
}

.field div:nth-child(3) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 7.9s;
    animation-duration: 7.9s;
    left: calc(50% + -17 * 1vw);
}

.field div:nth-child(4) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 10.8s;
    animation-duration: 10.8s;
    left: calc(50% + 1 * 1vw);
}

.field div:nth-child(5) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 9.5s;
    animation-duration: 9.5s;
    left: calc(50% + 32 * 1vw);
}

.field div:nth-child(6) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 14.7s;
    animation-duration: 14.7s;
    left: calc(50% + 43 * 1vw);
}

.field div:nth-child(7) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
    -webkit-animation-duration: 23s;
    animation-duration: 23s;
    left: calc(50% + 34 * 1vw);
}

.field div:nth-child(8) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
    -webkit-animation-duration: 12.6s;
    animation-duration: 12.6s;
    left: calc(50% + 12 * 1vw);
}

.field div:nth-child(9) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 9.2s;
    animation-duration: 9.2s;
    left: calc(50% + 3 * 1vw);
}

.field div:nth-child(10) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
    -webkit-animation-duration: 20.8s;
    animation-duration: 20.8s;
    left: calc(50% + -14 * 1vw);
}

.field div:nth-child(11) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    left: calc(50% + -45 * 1vw);
}

.field div:nth-child(12) {
    -webkit-animation: move ease-in infinite;
    animation: move ease-in infinite;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-duration: 8.4s;
    animation-duration: 8.4s;
    left: calc(50% + -6 * 1vw);
}

.field div:nth-child(2n), .field div:nth-child(7) {
    background-color: var(--bg-anim-alt-color);
}

